@import url(https://fonts.googleapis.com/css?family=Poppins);
.background-subs{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    width: 100%;
}

.subs-body{
    padding: 0px 40px 0px 40px;
}

.subs-title{
    padding: 25px 0px 20px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.title-divider{
    border-top: 1px solid rgb(217, 218, 220);
    width: 100%;
}

.subs-result{
    display: grid;
    column-gap: 20px;
    grid-template-columns: 25% 25% auto;
    padding: 30px;
}


.subs-result-content{
    color: #b0b0aa;
    margin: 5px;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.subs-table{
    display: flex;
    flex: column;
    vertical-align: middle;
}

.button-response-accept{
    padding: 10px 25px 10px 25px;
    /* border-style: solid;
    border-color: green; */
    margin-right: 20px;
    border-radius: 4px;
    border: 0;
    display: flex;
    background-color: green;
    color: #fff;
    font-size: 1.4rem;
}

.button-response-accept:hover{
    padding: 10px 25px 10px 25px;
    background-color: rgb(4, 55, 4);
    margin-right: 20px;
    border-radius: 4px;
    display: flex;
    border-style: solid;
    border-color: green;
    font-size: 1.4rem;
}

.button-response-reject{
    padding: 10px 25px 10px 25px;
    background-color: red;
    border: 0;
    border-radius: 4px;
    display: flex;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button-response-text{
    color: rgb(5, 5, 5);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 15px;
    margin: auto;
    border-radius: 10px;
}

.button-response-text:hover{
    color: rgb(5, 5, 5);
    font-size: 1.2rem;
    font-weight: bold;
    margin: auto;
    background-color: #b0b0aa;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}

.button-response-accept{
    padding: 10px 25px 10px 25px;
    /* border-style: solid;
    border-color: green; */
    margin-right: 20px;
    border-radius: 4px;
    border: 0;
    display: flex;
    background-color: green;
    color: #fff;
    font-size: 1.4rem;
}

.button-response-accept:hover{
    padding: 10px 25px 10px 25px;
    background-color: rgb(4, 55, 4);
    margin-right: 20px;
    border-radius: 4px;
    display: flex;
    border-style: solid;
    border-color: green;
    font-size: 1.4rem;
}

.button-response-reject{
    padding: 10px 25px 10px 25px;
    background-color: red;
    border: 0;
    border-radius: 4px;
    display: flex;
    color: #fff;
    font-size: 1.4rem;
}
.button-response-reject:hover{
    padding: 10px 25px 10px 25px;
    background-color: rgb(94, 8, 8);
    border: 0;
    border-radius: 4px;
    display: flex;
    color: #fff;
    font-size: 1.4rem;
}

.subs-navbar{
    min-height: 60px;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 35px;
    margin-top: 5px;
}

.subs-logout-button{
    background-color: red;
    border-radius: 4px;
    padding: 15px 40px 15px 40px;
    border: none;
    font-size: 1.2rem;
    color: white;
}

.subs-logout-button:hover{
    background-color: rgb(78, 19, 19);
    border-radius: 4px;
    padding: 15px 40px 15px 40px;
    border: none;
}


