#root {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  margin: 0;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

body {
  /* display: flex; */
  flex-direction: row;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(#29454c, 30%, #121212);
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: space-around;
}